<p class=""> Handle should be in the form - https://www.example.com </p>

<%= form_with(url:"/SocialMediaHandlesUpdate" , method: "post", class: "") do %>
  <%= text_field_tag(:twitter_handle, nil,value: @twitter_handle, class: "form-input", placeholder: "Twitter Handle") %>
  <%= text_field_tag(:instagram_handle, nil,value: @instagram_handle, class: "form-input", placeholder: "Instagram Handle") %>
  <%= text_field_tag(:facebook_handle, nil,value: @facebook_handle, class: "form-input", placeholder: "Facebook Handle") %>
  <%= submit_tag("Sign Up!", class: "form-submit") %>
<% end %>
