<section class = "UsersNew">
  <%= form_with(url: menus_path, method: "post") do %>
    <div class = "Form-section">
     <p class = "FormInput-label">Name: </p>
      <%= text_field_tag(:name, nil, class: "Form-input", placeholder: "Enter the new menu name", autofocus: "autofocus") %>
    </div>
    <div class = "Form-section">
      <%= submit_tag("Create!", class: "Form-submit") %>
    </div>
  <% end %>
</section>

<ul>
  <% Menu.order(:id).all.each do |menu| %>
      <li class = "Menu">
        <div class = "Menu-Container">
          <%= form_with(url: "/menus/#{menu.id}", method: "put") do %>
            <% checked = menu.active %>
            <%= check_box_tag(:active, nil, checked, class: "TodoItem-checkbox", onclick: "this.form.submit()") %>
          <% end %>
          <%= link_to "#{menu.name}", "/menus/#{menu.id}" %>
          <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
            <%= image_submit_tag("TrashIcon.png", class: "Menu-delete") %>
          <% end %>
        </div>
      </li>
  <% end %>
</ul>
