<div class="profile-content">
  <div class="profile-flex">
    <p> <%= user.name %> </p>
    <p class="profile-role"> <%= user.role %> </p>
  </div>
  <p> <%= user.email %> </p>
  <p class="profile-address"> <%= user.address %> </p>
  <p> <%= user.phone %> </p>
  <%= form_with(url: "/users/#{user.id}", method: "put", class: "profile-form") do %>
    <%= password_field(nil, nil, name: "new_password", class: "form-input", placeholder: "Enter the new password", autofocus: "autofocus")%>
    <%= submit_tag("Update!", class: "margin-left-20 form-submit") %>
  <% end %>
</div>
