<p class="CompletedOrders">LIST OF COMPLETED ORDERS</p>
<% orders.deliveredOrders.each do |order|%>
  <p>
    <%= order.id%>
    <% total_price = 0 %>
    <% order.order_items.all.each do |order_item|%>
      <p>
        <%= order_item.menu_item_name%>
        <%= order_item.menu_item_price%>
          x<%= order_item.quantity%>
         = <%= order_item.quantity*order_item.menu_item_price%>
        <% total_price = total_price + order_item.menu_item_price*order_item.quantity%>
      </p>
    <% end %>
    <%=order.date%>
    <p>Total Price = <%= total_price%> </p>
    <p>Order status : <%= order.status%>  </p>
    <% if order.delivered_at %>
      <p> Order Deliverd At <%= order.delivered_at %></p>
    <% end %>
  </p>
<% end %>
