<% order.order_items.all.each do |order_item|%>
  <% if order_item.quantity > 0 %>
    <p>
      <%= order_item.menu_item_name%>
      <%= order_item.quantity%>
    </p>
    <div class="ButtonIncrementer">
      <%= form_with(url: "/order_items/update/#{order_item.id}") do %>
        <%= number_field_tag("quantity",
          order_item.quantity,
          {min: 0, onchange: "this.form.submit()",class: "QuantityField"})
        %>
      <% end %>
    </div>
     <p> <%= order_item.menu_item_price%> </p>

  <% end %>
<% end %>
<%=order.date%>
<p>Total Price = <%= order.price%> </p>
<%= form_with(url: "/menus#index") do%>
  <%= button_tag("AddMoreItems",type: "submit")%>
<% end %>
<%= form_with(url: "/orders/confirm", method: "post") do%>
    <%= button_tag("Confirm",type: "submit")%>
<% end %>
