<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Google fonts %>
    <%# Nav bar %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Cedarville+Cursive|Sacramento&display=swap' %>
    <%# Welcome block %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap' %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-content">
      <header id="main-header">
	  	  <div class="container navbar">
          <div class="left-part">
            <%= link_to "/" do %>
              <h1 class="navbar-title"> <i class="fa fa-cutlery brand-icon" aria-hidden="true"></i>Dine</h1>
            <% end %>
          </div>
          <div class="right-part">
            <p class="quote">Experience the flavour</p>
	  		    <div class="tags">
	  		      <p class="tag"> <i class="fa fa-home tag-fa" aria-hidden="true"></i> <%= link_to "Home", "/" %> </p>
              <% if @current_user %>
                <p class="tag"> <i class="fa fa-shopping-cart tag-fa" aria-hidden="true"></i> <%= link_to "Cart", carts_path %> </p>
                <p class="tag"> <i class="fa fa-files-o tag-fa" aria-hidden="true"></i> <%= link_to "Orders", orders_path %> </p>
                <div class="drop-down-tags-menu">
                  <i class="fa fa-chevron-down drop-down-arrow tag" aria-hidden="true"></i>
                  <div class="drop-down-tags">
                    <p class="drop-down-tag"> <i class="fa fa-id-card tag-fa" aria-hidden="true"></i> <%= link_to "Profile", "/users/#{@current_user.id}" %> </p>
                    <% if @current_user.role == "owner" %>
                      <p class="drop-down-tag"> <i class="fa fa-users tag-fa" aria-hidden="true"></i> <%= link_to "Users", users_path %> </p>
                      <p class="drop-down-tag"> <i class="fa fa-files-o tag-fa" aria-hidden="true"></i> <%= link_to "Change Menu", change_menus_path %> </p>
                      <p class="drop-down-tag"> <i class="fa fa-list tag-fa" aria-hidden="true"></i> <%= link_to "Categories", categories_path %> </p>
                      <p class="drop-down-tag"> <i class="fa fa-clone tag-fa" aria-hidden="true"></i> <%= link_to "Reports", reports_path %> </p>
                    <% end %>
                    <p class="drop-down-tag"> <i class="fa fa-sign-out tag-fa" aria-hidden="true"></i> <%= link_to "SignOut", "/signout",method: "delete" %> </p>
                  </div>
                </div>
              <% else %>
                <p class="tag"> <i class="fa fa-info tag-fa" aria-hidden="true"></i> <%= link_to "About", "#welcome-block" %> </p>
                <p class="tag"> <i class="fa fa-phone tag-fa" aria-hidden="true"></i> <%= link_to "Contact", "#footer-end" %> </p>
                <% if @signUpFlag %>
                  <p class="tag"> <i class="fa fa-sign-in tag-fa" aria-hidden="true"></i> <%= link_to "SignIn", new_session_path %> </p>
                <% else %>
                  <p class="tag"> <i class="fa fa-user-plus tag-fa" aria-hidden="true"></i> <%= link_to "SignUp", new_user_path %> </p>
                <% end %>
              <% end %>
	  		    </div>
          </div>
	  	  </div>
	    </header>

      <% if flash[:error] %>
        <p class = "flash flash-error">
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= flash[:error] %>
        </p>
      <% end %>
      <% if flash[:notice] %>
        <p class = "flash flash-notice">
          <i class="fa fa-check" aria-hidden="true"></i> <%= flash[:notice] %>
        </p>
      <% end %>

      <%= yield %>

    </div>
    <section id="footer">
      <div class="container footer-grid">
        <div class="footer-left">
          <h1 class="footer-title">Dine</h1>
          <div class="social">
            <%= link_to "https://www.google.com" do %>
              <i class="fa fa-twitter fa-2x social-icon" aria-hidden="true"></i>
            <% end %>
            <%= link_to "https://www.youtube.com" do %>
              <i class="fa fa-instagram fa-2x social-icon" aria-hidden="true"></i>
            <% end %>
            <%= link_to "https://www.bing.com" do %>
              <i class="fa fa-facebook fa-2x social-icon" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-right-grid">
            <div class="info">
              <% if @current_user && @current_user.role == "owner" %>
                <%= link_to "Careers & Franchise", applicants_path,class: "info-tag" %>
                <%= link_to "FAQ", "/",class: "info-tag" %>
              <% else %>
                <%= link_to "Careers & Franchise", new_applicant_path,class: "info-tag" %>
                <%= link_to "FAQ", "/",class: "info-tag" %>
              <% end %>
              <%= link_to "Terms & Conditions", "/",class: "info-tag" %>
            </div>
            <div class="address">
              <p> Door No. 1-3-130/2 </p>
              <p> Adam Avenue </p>
              <p> Banjara Hills </p>
              <p> Hyderabad </p>
            </div>
          </div>
          <div class="mailus">
            <%= mail_to "help@dine.com", "Mail Us!", cc: "clerk1@dine.com" %>
          <div>
        </div>
      </div>
    </section>
  </body>
</html>
