<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# --------------------------------Start of sidepane--------------------------- %>

    <% if session[:current_user_id] %>
      <p class = "UserHeader">
        Welcome <%= User.find(session[:current_user_id]).name %>!
        You are <%= User.find(session[:current_user_id]).role %>
      <%= link_to "Sign-out", "/signout",method: "delete" %>
      </p>
    <% end %>

    <%# --------------------------------End of side pane-------------------------------- %>

    <% if flash[:error] %>
      <p class = "Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
